.master-navbar-container {
  position: fixed;
  

  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  height: 65px;
  width: 375px;
  

  /* margin: auto; */

  padding: 0 20px;

  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: rgba(255, 255, 255, 0.3);

  backdrop-filter: blur(10px);

  display: flex;
  justify-content: space-around;
  align-items: center;

}

.navbar-mobile {
  height: 45px;
  width: 300px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}


.navbar-btn {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .075s ease-in;
}

.navbar-web > .navbar-btn {
  height: 50px;
  width: 50px;
  font-size: x-large;
}

.navbar-web > .navbar-btn:hover {
  cursor: pointer;
  background-color: rgb(43, 228, 114);
}

.navbar-mobile > .navbar-btn {
  height: 30px;
  width: 30px;
}

.navbar-mobile-highlight {
  background-color: rgb(43, 228, 114) !important;
}

@media screen and (max-width: 440px) {

  .navbar-web {
    width: 100%;
    border-radius: 0;
    padding: 0;
    left: 0;
    transform: translateX(0);
  }

  .navbar-web-shift {
    width: calc(100vw - 17px) !important;
  }
}

@media screen and (max-width: 425px) {

  .master-navbar-container {
    left: 0;
    transform: translateX(0);
  }

  .navbar-mobile {
    width: 100%;
    border-radius: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .navbar-mobile > .navbar-btn {
    height: 100%;
    width: 100%;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    border-top: solid 1px rgba(0, 0, 0, 0.1);
    border-right: solid 1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    /* transition: none; */
  }

  .navbar-mobile > .navbar-btn:last-of-type {
    border-right: none;
  }
}