.master-navbar-container {
  position: absolute;
  height: 65px;
  bottom: 0;

  left: 50%;
  transform: translateX(-50%);

  
  /* width: 100%; */
}



.navbar-container {
  height: 100%;
  width: 375px;
  margin: auto;
  padding: 0 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: rgba(255, 255, 255, 0.3);


  backdrop-filter: blur(10px);

  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: x-large;
}

.navbar-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .075s ease-in;
}


.navbar-btn:hover {
  cursor: pointer;
  background-color: rgb(43, 228, 114);
}

/* .navbar-container a, .navbar-container a:visited {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
  border-radius: 50%;
} */

@media screen and (max-width: 440px) {

  .master-navbar-container {
    left: 0;
    transform: translateX(0);
  }

  .navbar-container {
    width: 100vw;
    border-radius: 0;
    padding: 0;
  }

  .navbar-web > div {
    width: calc(100vw - 17px) !important;
  }
}