.master-portfolio-container {
  height: 100vh;
  background-image: url("https://images.alphacoders.com/461/461992.jpg");
  background-size: cover;
  background-position: center;
  overflow-y: auto;
  position: relative;
}